/* Global */

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 1em;
	color: #8a8683;
	background-color:#ffffff;
}
img {
	max-width: 100%;
}
a:link {
	/*color: #f68f67;*/
	color: #ff3300;
	text-decoration: none;
}
a:hover {
	/*color: #bde2df;*/
	color: #ff3300;
	text-decoration: none;
}
a:visited {
	/*color: #f68f67;*/
	color: #ff3300;
	text-decoration: none;
}


/* Navigation */

.menu {
	position:fixed;
	top:0px;
	width:100%; 
	height:auto; 
	background-color:#efefef;
	z-index:100;
}
#logo {
	text-align: center;
	margin: 10px 0;
}
#nav {
	text-align: right;
	margin: 30px 0 0 0;
}
.navigation {
	float: right;
	list-style: none;
	margin: 0;
}
.navigation li {
	float: left;
	padding:0 0 0 50px;
}
.navigation li:hover {
	cursor:pointer;
	color: #a9d3d0;
}

.navigation .active {
	cursor:pointer;
	color: #f68f67;
	font-weight:bold;
}




/* General Slides */ 

.slide {
	background-attachment: fixed;
	width:100%;
	height:auto;
	position: relative;
	padding:80px 0;
}



/* Slide 1 */ 

#slide1 {
	background-color:#f68f67;
	color:#ffffff;
}
#slide1 h1 {
	font-size:2.5em;
	letter-spacing: -3px;
	line-height: 1.2em;
	margin:0px;
	/*color:#8a8683;*/
	/*color: #f4bba6;*/
	color:#ffffff;
	font-weight: 700;	
}
#slide1 h2 {
	font-size: 1.4em;
	color: #ffffff;
	line-height: 1.2em;
	padding-top:0px;
	padding-bottom:0px;
	font-weight: 400;
}

#slide1 #decorative {
    width:308px;
    margin-top:50px;
    margin-left:20px;
}

#slide1 #content {
	padding-top:50px;
}


/* Slide 2 */ 

#slide2 {
    background-color: #ffffff;
    text-align:center;
	/*background-image:url('../images/footprints.png');
	background-color:#f68f67;
	color:#ffffff;
	*/
}
#slide2 h1 {
	font-size:2.5em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide2 h2 {
	font-size: 1.3em;
	color:#8a8683;
	line-height: 1.2em;
	padding-bottom:20px;
	font-weight: 400;
}

#slide2 #sample {
	text-align:center;
	font-size: 0.8em;
}

#slide2 img.gallery-item {
	border:1px solid #ccc;
	border-radius:10px;
}



/* Slide 3 */ 

#slide3 {
	background-color:#ffffff;
}
#slide3 h1 {
	font-size: 2.5em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#8a8683;
	font-weight: 700;
}
#slide3 h2 {
	font-size: 2em;
	color: #8a8683;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Slide 4 */

#slide4 {
	/*background-image:url('../images/sunglasses.png');*/
	background-color:#8a8683;
	color:#efefef;	
}

#slide4 .container {
	text-align:center;
}

#slide4 h1 {
	font-size: 3em;
	letter-spacing: -3px;
	line-height: 0px;
	color:#ffffff;
	font-weight: 700;
}
#slide4 h2 {
	font-size: 2em;
	color: #ffffff;
	line-height: 0px;
	padding-bottom:20px;
	font-weight: 400;
}

/* Begin Custom Styles */

h1.logo {
	font-family: Candara, Calibri, Segoe, 'Segoe UI', Optima, Arial, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	text-align:left;
}

/* Forms */


form {
    margin:0;
    width:310px;
    text-align:left;
}

form label {
    font-size:1em;   
    color:#e6e6e1;
    text-shadow:0px -1px #202020;
}
form label.error {
    margin-bottom:1em;
    font-size:1.2em;
    line-height:1.2em;
    font-size:12px;
    line-height:12px;
    color:#c0392b;
}
form input[type="text"], form input[type="email"] {
    height:30px;
}
form input[type="submit"] {
    width:308px;
    height:40px;
    background:#f68f67;
    color:#666666;
    border:none;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
}
form input[type="text"], form input[type="email"], form textarea {
	margin-top:10px;
    margin-bottom:1.25em;
    font-family:"Inconsolata", sans-serif;
    font-size:1.4em;
    line-height:1.4em;
    font-size:14px;
    line-height:14px;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    background:#cccccc;
    border:none;
  	-webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
  	width:300px;
  	padding-left:10px;
}

form textarea {
	padding-top:10px;
}

form input[type="text"]:focus, form input[type="email"]:focus, form textarea:focus {
    border-color:#191919;
    box-shadow:none;
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -webkit-border-radius: 5px;
  	-moz-border-radius: 5px;
  	border-radius: 5px;
}
form input[type="text"][disabled], form input[type="email"][disabled], form textarea[disabled] {
    background:#cccccc
}
form input[type="text"].error, form input[type="email"].error, form textarea.error {
    background:#e6e6e6;
    border-color:#c0392b;
}

/* not used */
fieldset {
    border:none;
    margin:0;
    padding:0;
}
.required {
    color:#f68f67;
}
#success, #error {
    display:none;
}
#success span, #erro span {
    display:block;
    position:absolute;
    top:0;
    width:100%;
}
#success span p, #error span p {
    margin-top:6em;
}
#success span p {
  color:#9bd32d;
}
#error span p {
  color:#c0392b;
}
/* end not used */

/* styles to fade form out after submission */
.collapse {
    display: none
}

.has-success .help-block {
    color: #3c763d
}

.has-success .form-control {
    border-color: #3c763d;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-success .form-control:focus {
    border-color: #2b542c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #67b168
}

.has-warning .help-block {
    color: #8a6d3b
}

.has-warning .form-control {
    border-color: #8a6d3b;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-warning .form-control:focus {
    border-color: #66512c;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #c0a16b
}

.has-error .help-block {
    color: #a94442
}

.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075)
}

.has-error .form-control:focus {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #ce8483
}


.help-block {
    display: block;
    margin-top: 5px;
    margin-bottom: 10px;
    color: #737373
}


/* End Custom Styles */


/* Tablet */
@media screen and (max-width: 1024px) {

#logo {
	width:50%;
	text-align: center;
}

#nav {
	width:40%;
	text-align:center;
	margin:30px 30px;
}

.navigation {
	width: 100%;
	float: center;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li {
	float: left;
	width:25%;
	padding:0;
}

.slide {
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:30px 0;
}

#slide1 {
	padding-top:100px;
}

#slide2 img.gallery-item {
	width:100%;
	height:auto;
}

#content {
	text-align:center;
	xwidth:100%;
}

#decorative {
	width:30%;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}
#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

}

/* In between Tablet and Mobile */
@media screen and (max-width: 768px) {
	#logo, #nav {
		width:100%;
	}
	#nav {
		margin:10px 0px;
	}
	#decorative {
		display:none;
	}
	#slide1 .container {
		text-align:center;
		width:70%;
	}
	#slide1 #content {
		width:100%;
	}
}


/* Mobile */
@media screen and (max-width: 480px) {

#logo {
	width: 100%;
	text-align: center;
}

#decorative {
	display:none;
}

#nav {
	width:100%;
	margin:5px 0;
}

.navigation {
	width: 100%;
	float: left;
	list-style: none;
	margin: 0;
	padding:0;
}

.navigation li {
	float: left;
	width:25%;
}

.slide {
	background-attachment: fixed;
	width:100%;
	position: relative;
	padding:30px 0;
}

#slide1 {
	padding-top:100px;
}

#slide1 h1 {
	line-height: 1em;
}
#slide1 h2 {
	line-height: 1em;
}
#slide2 h1 {
	line-height: 1em;
}
#slide2 h2 {
	line-height: 1em;
}

#slide2 img.gallery-item {
	width:70%;
	height:auto;
}


#slide3 h1 {
	line-height: 1em;
}
#slide3 h2 {
	line-height: 1em;
}
#slide4 h1 {
	line-height: 1em;
}
#slide4 h2 {
	line-height: 1em;
}

form input[type="submit"] {
    width:290px;
    height:40px;
}
    
form input[type="text"], form input[type="email"], form textarea {
	width:280px;
}



}




